/*.App {
  text-align: center;
}*/


.App-header {
  background: url("./WhatsApp\ Image\ 2021-04-26\ at\ 3.43.29\ PM.jpeg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  /* font-size: calc(10px + 2vmin); */
  color: white;
}
.home,
.profile,
.history {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

